<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.ak.calculatorbmi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lsticon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1259119329136843~4891280129"   />


        <activity android:name="com.ak.calculatorbmi.Daily_Benefits_Meditation" ></activity>
        <activity android:name="com.ak.calculatorbmi.History_Of_Dance" />
        <activity android:name="com.ak.calculatorbmi.Best_Dance" />
        <activity android:name="com.ak.calculatorbmi.Benefits_Of_Dance" />
        <activity android:name="com.ak.calculatorbmi.Think_You_Cant_Dance" />
        <activity android:name="com.ak.calculatorbmi.Types_Of_Meditation" />
        <activity android:name="com.ak.calculatorbmi.Why_Should_Meditation" />
        <activity android:name="com.ak.calculatorbmi.Want_To_Start_Med" />
        <activity android:name="com.ak.calculatorbmi.Benefits_Of_Meditation" />
        <activity android:name="com.ak.calculatorbmi.Articles_Of_Dance" />
        <activity android:name="com.ak.calculatorbmi.Articles_Of_Meditation" />
        <activity android:name="com.ak.calculatorbmi.Articlesofsleeping" />
        <activity android:name="com.ak.calculatorbmi.HealthySleepHygiene" />
        <activity android:name="com.ak.calculatorbmi.thebestwaystogetbetterSLEEP" />
        <activity android:name="com.ak.calculatorbmi.SleepPurpose" />
        <activity android:name="com.ak.calculatorbmi.whygoodisimportant" />
        <activity android:name="com.ak.calculatorbmi.articlesofrunning" />
        <activity android:name="com.ak.calculatorbmi.benefitsofRunningThatMakeYou" />
        <activity android:name="com.ak.calculatorbmi.benefitsofrunningandjogging" />
        <activity android:name="com.ak.calculatorbmi.Articlesofwalking" />
        <activity android:name="com.ak.calculatorbmi.Articlesoffitness" />
        <activity android:name="com.ak.calculatorbmi.runninginthemorning" />
        <activity android:name="com.ak.calculatorbmi.Yogaproses" />
        <activity android:name="com.ak.calculatorbmi.sixbenefitsofrunning" />
        <activity android:name="com.ak.calculatorbmi.ArticlesofYoga" />
        <activity android:name="com.ak.calculatorbmi.whilewalkingwhathappens" />
        <activity android:name="com.ak.calculatorbmi.walkingsafetytips" />
        <activity android:name="com.ak.calculatorbmi.walk30minutes" />
        <activity android:name="com.ak.calculatorbmi.benefitsofwalking" />
        <activity android:name="com.ak.calculatorbmi.yogaandpain" />
        <activity android:name="com.ak.calculatorbmi.YogaforEveryone" />
        <activity android:name="com.ak.calculatorbmi.Plankitup" />
        <activity android:name="com.ak.calculatorbmi.thebestbuttworkouts" />
        <activity android:name="com.ak.calculatorbmi.Randomworkout" />
        <activity android:name="com.ak.calculatorbmi.allfooddiet" />
        <activity android:name="com.ak.calculatorbmi.SelfLove" />
        <activity android:name="com.ak.calculatorbmi.Antistress" />
        <activity android:name="com.ak.calculatorbmi.happinies" />
        <activity android:name="com.ak.calculatorbmi.TENStepHIITWorkoutWllToneYour" />
        <activity android:name="com.ak.calculatorbmi.FiveBurpeeWorkouts" />
        <activity android:name="com.ak.calculatorbmi.FiveMoveMorningworkout" />
        <activity android:name="com.ak.calculatorbmi.EightQuickresistance" />
        <activity android:name="com.ak.calculatorbmi.supereasyworkout" />
        <activity android:name="com.ak.calculatorbmi.Yogaarticle" />
        <activity android:name="com.ak.calculatorbmi.fitnessplan" />
        <activity android:name="com.ak.calculatorbmi.Exercise" />
        <activity android:name="com.ak.calculatorbmi.Healthyeatingbasics" />
        <activity android:name="com.ak.calculatorbmi.ObeseActivity" />
        <activity android:name="com.ak.calculatorbmi.Results" />
        <activity android:name="com.ak.calculatorbmi.CalculatorActivity" />
        <activity android:name="com.ak.calculatorbmi.HomeActivity"/>
        <activity android:name="com.ak.calculatorbmi.Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>