<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.calculatorbmi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Types_Of_Meditation"></activity>
        <activity android:name=".Why_Should_Meditation" />
        <activity android:name=".Want_To_Start_Med" />
        <activity android:name=".Benefits_Of_Meditation" />
        <activity android:name=".Articles_Of_Dance" />
        <activity android:name=".Articles_Of_Meditation" />
        <activity android:name=".Articlesofsleeping" />
        <activity android:name=".HealthySleepHygiene" />
        <activity android:name=".thebestwaystogetbetterSLEEP" />
        <activity android:name=".SleepPurpose" />
        <activity android:name=".whygoodisimportant" />
        <activity android:name=".articlesofrunning" />
        <activity android:name=".benefitsofRunningThatMakeYou" />
        <activity android:name=".benefitsofrunningandjogging" />
        <activity android:name=".Articlesofwalking" />
        <activity android:name=".Articlesoffitness" />
        <activity android:name=".runninginthemorning" />
        <activity android:name=".Yogaproses" />
        <activity android:name=".sixbenefitsofrunning" />
        <activity android:name=".ArticlesofYoga" />
        <activity android:name=".whilewalkingwhathappens" />
        <activity android:name=".walkingsafetytips" />
        <activity android:name=".walk30minutes" />
        <activity android:name=".benefitsofwalking" />
        <activity android:name=".yogaandpain" />
        <activity android:name=".YogaforEveryone" />
        <activity android:name=".Plankitup" />
        <activity android:name=".thebestbuttworkouts" />
        <activity android:name=".Randomworkout" />
        <activity android:name=".browse" />
        <activity android:name=".allfooddiet" />
        <activity android:name=".SelfLove" />
        <activity android:name=".Antistress" />
        <activity android:name=".happinies" />
        <activity android:name=".FitnessArticle" />
        <activity android:name=".TENStepHIITWorkoutWllToneYour" />
        <activity android:name=".FiveBurpeeWorkouts" />
        <activity android:name=".FiveMoveMorningworkout" />
        <activity android:name=".EightQuickresistance" />
        <activity android:name=".supereasyworkout" />
        <activity android:name=".FunctionalFitness" />
        <activity android:name=".Yogaarticle" />
        <activity android:name=".fitnessplan" />
        <activity android:name=".Metabolism" />
        <activity android:name=".Exercise" />
        <activity android:name=".Healthyeatingbasics" />
        <activity android:name=".exer" />
        <activity android:name=".ObeseActivity" />
        <activity android:name=".Results" />
        <activity android:name=".CalculatorActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>